
body {
    margin: 0;
    padding: 0;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100svw;
    height: 100svh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.content {
    min-width: 300px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

form button, form input {
    text-align: center;
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px 0;
}

form hr {
    margin: 20px 0;
}

h1, h2 {
    text-align: center;
}

.error {
    color: red;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav a {
    color: #000;
    text-decoration: none;
    margin: 0 10px;
}

.sep {
    display: block;
    width: 100%;
    text-align: center;
}

pre {
    text-align: center;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.keys {
    margin-bottom: 10px;
}

.keys span {
    text-align: center;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    font-family: monospace;
    font-size: 0.8em;
}

.keys a {
    color: #000;
    text-decoration: none;
}

